.App {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 100vh;
  background-color: rgb(239, 214, 241);
}

.heading {
  display: flex;
  align-items: center;
  flex: 1;
  margin-top: 40px;
  flex-direction: column;
}

.head {
  display: flex;
  align-items: center;
  margin-top: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.desc {
  margin-top: 5px;

}

.desc > h2 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.desc pre {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16px;
}

.sortingList{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 2;
}

.name {
  color: white;
  
}

.signature {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.signature > img {
  width: 200px;
  object-fit: contain;
  margin-top: -30px;
}

.signature > h3 {
 margin-right: 25px;

}

