.smallToBig{
  margin: 10px;
}  
  .full-screen-square{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
        45deg, rgb(128, 82, 129), rgb(210, 141, 231)
        );
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
  }
  
  .square{
    width: 200px;
    height: 200px;
    /* background-color: red; */
    background-image: linear-gradient(
        45deg, rgb(128, 82, 129), rgb(210, 141, 231)
        );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow:5px 3px 10px #888888;
  }
  
  .name {
    color: white;
    
  }

  .codeblock {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    right: 0;
    height: 100vh;

  }

  .close{
    position: absolute;
    right: 0;
    top: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }

.name{
  font-size: 22px;
}