.main {
    /* background-color: rgb(46, 42, 42); */
}

.list{
    display: flex;
}

.item {
    background-color: rgb(166, 74, 179);
    background-image: linear-gradient(-90deg, rgb(170, 222, 231), rgb(80, 132, 228));
    margin: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding:10px;
    color: rgb(47, 31, 119);
    box-shadow: 5px 10px 12px #888888;
    border-radius: 20px;
}

.itemRed {
    background-color: rgb(166, 74, 179);
    background-image: linear-gradient(-90deg, rgb(170, 222, 231), rgb(80, 132, 228));
    margin: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding:10px;
    color: rgb(47, 31, 119);
    box-shadow: 5px 10px 12px #888888;
    border-radius: 20px;
    border: 5px solid red;
}


.itemYellow {
    background-color: rgb(166, 74, 179);
    background-image: linear-gradient(-90deg, rgb(170, 222, 231), rgb(80, 132, 228));
    margin: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    padding:10px;
    color: rgb(47, 31, 119);
    box-shadow: 5px 10px 12px #888888;
    border-radius: 20px;
    border: 5px solid yellow;
}

.btnShuffle {
    padding: 10px;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(179, 155, 236);
    border-radius: 15px;
    outline: none;
}

.btnSelectionSort {
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(179, 155, 236);
    border-radius: 15px;
    outline: none;

}
.btnBubbleSort {
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: 500;
    background-color: rgb(179, 155, 236);
    border-radius: 15px;
    outline: none;
}